@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  max-width: 1440px;
  padding: 2em 7vw;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-family: var(--font-family--body);
  height: 100vh;

  //
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //
  background-image: url("../images/bg-mobile.svg");
  background-color: var(--color-primary--violet);
  background-repeat: no-repeat;
  background-position: center top;
}

@media screen and (min-width: 375px) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-position: left top;
    background-size: auto 100vh;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family--headings);
}

ul {
  list-style: none;
}


/////////////////////////////////
// || frontend-mentor
/////////////////////////////////
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}