
.button {
  padding: 1em 2em;
  border-radius: 5em;
  border-style: none;
  background-color: #fff;
  color: var(--color-primary--violet);
  font-size: 1rem;

  //
  box-shadow: 0 .2em .5em 0 rgba(0,0,0,.5);
  transition: all .1s;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-primary--soft-magenta);
  color: #fff;
}

.button:active {
  box-shadow: revert;
  transform: scale(0.95);
}