:root {
  // TYPOGRAPHY
  --font-family--headings: 'Poppins', sans-serif;
  --font-family--body: 'Open Sans', sans-serif;

  // COLORS
  --color-primary--violet: rgb(103, 75, 175);
  --color-primary--soft-magenta: rgb(232, 130, 232);

  // BREAKPOINTS
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}